/uvc_camera_unity/.vs/LibUVCTest/v14/*.suo
/uvc_camera_unity/*.csproj
/uvc_camera_unity/*.sln
/uvc_camera_unity/Build
/uvc_camera_unity/Library
/uvc_camera_unity/.vs/uvc_camera_unity/v14/*.suo
/uvc_camera_unity/Temp
/uvc_camera_unity/Assets/OpenCVForUnity/Samples
/uvc_camera_unity/Assets/OpenCVForUnity/OpenCVForUnityUWP_Beta2.zip
/uvc_camera_unity/Assets/OpenCVForUnity/Plugins/WSA
/uvc_camera_unity/Assets/OpenCVForUnity/Plugins/iOS
/uvc_camera_unity/Assets/OpenCVForUnity/Plugins/opencvforunity.bundle
/uvc_camera_unity/Assets/OpenCVForUnity/OpenCVForUnityUWP_Beta2.zip.meta
/uvc_camera_unity/Assets/OpenCVForUnity/Plugins/WSA.meta
/uvc_camera_unity/Assets/OpenCVForUnity/Plugins/iOS.meta
/uvc_camera_unity/Assets/OpenCVForUnity/Plugins/opencvforunity.bundle.meta
/uvc_camera_unity/Assets/OpenCVForUnity/Samples.meta
